DJANGO_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
NEXT_PUBLIC_CLARITY_PROJECT_ID=yed3l1lawv
NEXT_PUBLIC_GA_MEASUREMENT_ID=
